@model CoverType
@{
    ViewData["Title"] = "Create";
}

<form method="post">
    <div class="border p-3 mt-4">
        <div class="row pb-2">
            <h2>ایجاد جنسیت  </h2>
        </div>
        <br />
    </div>
    <div class="mb-3">
        <label asp-for="Gender"></label>
        <input asp-for="Gender" class="form-control" />
        <span asp-validation-for="Gender" class="text-danger"></span>
    </div>
    
    <button type="submit" class="btn btn-primary" style="width:150px">
        ایجاد جنسیت جدید
    </button>
    <a asp-controller="CoverType" asp-action="Index" class="btn btn-secondary" style="width:150px">
        بازگشت به لیست
    </a>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial"></partial>
}
