@model IEnumerable<Company>
@{
    ViewData["Title"] = "Index";
}

<partial name="_Notification"></partial>
<div class="Container p-3">
    <div class="row pt-4">
        <div class="col-6">
            <h2>لیست شرکت ها</h2>
        </div>
        <div class="col-6 text-end">
            <a asp-controller="Company" asp-action="Create" class="btn btn-primary">
                ایجاد شرکت جدید <i class="bi bi-plus-circle"></i>
            </a>
        </div>
    </div>
</div>

<br />
<table class="table table-striped table-bordered table-hover" style="width:100%">
    <thead>
        <tr>
            <th>نام شرکت</th>
            <th>شماره تماس</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach(var obj in Model)
        {
            <tr>
                <td width="40%">
                    @obj.Name
                </td>
                <td width="30%">
                    @obj.PhoneNumber
                </td>
                <td>
                    <div class="w-75 btn-group" role="group">
                        <a asp-controller="Company" asp-action="edit" asp-route-id="@obj.Id">
                            ویرایش  <i class="bi bi-pencil-square"></i>
                        </a>
                        &nbsp; &nbsp;
                        <a asp-controller="Company" asp-action="delete" asp-route-id="@obj.Id">
                            حذف  <i class="bi bi-trash3"></i>
                        </a>
                        </div>
                </td>
            </tr>
        }
    </tbody>
</table>


